engine-strict=true

//registry.npmjs.org/:_authToken=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
//npm.greensock.com/:_authToken=915974e9-9011-4503-9c18-9bd973003f2c
@gsap:registry=https://npm.greensock.com