engine-strict=true
resolution-mode=highest

//registry.npmjs.org/:_authToken=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

//npm.greensock.com/:_authToken=915974e9-9011-4503-9c18-9bd973003f2c
@gsap:registry=https://npm.greensock.com
